<div class="Vat">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedValue == ''" type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                2020
            </button>
            <button *ngIf="selectedValue != ''" type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                {{selectedValue}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="selectOption('2020')">2020</button>
                <button ngbDropdownItem (click)="selectOption('2021')">2021</button>
                <button ngbDropdownItem (click)="selectOption('2022')">2022</button>
                <button ngbDropdownItem (click)="selectOption('2023')">2023</button>

            </div>
        </div>
    </div>
    </div>

