<div class="container">
  <div>
    <h1>SuBmit Tax Filing</h1>
  </div>
  <div class="status">
    <div class="input-tax">
      <div class="num">
        <p>1</p>
      </div>
      <p>Input Tax</p>
    </div>
    <div class="review-confirm">
      <div class="num">
        <p>2</p>
      </div>
      <p>Review & Confirm</p>
    </div>
  </div>

  <div class="box-container">

    <div class="sub-title1">
      <h3>1. Tax filing Detail</h3>
      <div class="line"></div>
    </div>
    <div class="type-filing">
      <h4>type of filing</h4>
    </div>
    <app-filing-type></app-filing-type>

    <div class="vat-month">
      <app-month></app-month>
      <app-year></app-year>
    </div>

    <div class="tax-computation">
      <div class="sub-title2">
        <h3>2. Tax Computation</h3>
        <div class="line"></div>
        <div class="description">
          <h6>Provide total value taxable electronic service </h6>
        </div>
      </div>
      <div class="row total-tax">
        <p class='col-xl-9 col-lg-9  col-md-12' >1. Total value of taxable electronic service exclusive of VAT</p>
        <app-sale-amount class='col-md-3'></app-sale-amount> 
      </div>
      <div class="row">
        <p class='col-xl-9 col-lg-9 col-md-12'>2. Total VAT to be remitted (7% of 1.)</p>
        <app-tax-amount class='col-md-3'></app-tax-amount>
      </div>



    </div>




  </div>

</div>